.RegisterPage_frame{
    background-image: url("https://th.bing.com/th/id/OIP.0PBj8Ohk3CTgavzLYVQpIQHaEK?w=310&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7");
    background-repeat: no-repeat;
    background-size: cover;
}

.RegisterPage_form{
    background-color: rgba(176, 176, 176, 0.488);
    backdrop-filter: blur(10px);
    box-shadow:  0 0 15px rgb(65, 64, 64);
    
}